name: ci

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
          pip install yamllint

      - name: YAML lint
        run: yamllint -c .yamllint.yml .

      - name: Shellcheck
        run: shellcheck scripts/*.sh
